body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}



.navbar-nav>li {
    padding-right: 60px;
    font-size: 20px
}

.navbar li {
    font-weight: bold;
}

/* --------------hero section  ----------------------- */

.hero {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-image: url("img/A\ dog\ putting\ their\ paw\ in\ a\ trainers\ hand_0.jpg");
    background-size: cover;
    position: relative;
    color: #ffffff;
    font-size: 2rem;
    line-height: 0.9;
    text-align: center;

}

.margin-top {
    margin-top: 150px !important;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #f4c42fed;
}


/* opacity container background ends */
/* ----------------------------------- */


@media (max-width: 768px) {
    .hero {
        height: auto;
        padding: 20px 0;
    }

    .col-md-4 {
        margin-top: 0 !important;
        padding: 20px;
    }

    h1 {
        font-size: 5rem;
    }

    .margin-top {
        margin-top: 50px !important;
    }
}


@media (max-width: 576px) {
    .col-md-4 {
        padding: 10px;
    }

    h1 {
        font-size: 3rem;
    }

    .margin-top {
        margin-top: 30px !important;
    }
}

/* -----------Footer----------- */
.radian {
    border-radius: 30px 30px;
}