body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}



.navbar-nav>li {
    padding-right: 60px;
    font-size: 20px
}

.navbar li {
    font-weight: bold;
}

/* --------------hero section  ----------------------- */

.hero {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    background-image: url("img/A\ dog\ putting\ their\ paw\ in\ a\ trainers\ hand_0.jpg");
    background-size: cover;
    position: relative;
    color: #ffffff;
    font-size: 2rem;
    line-height: 0.9;
    text-align: center;

}

.margin-top {
    margin-top: 150px !important;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #f4c42fed;
}


/* opacity container background ends */
/* ----------------------------------- */


@media (max-width: 768px) {
    .hero {
        height: auto;
        padding: 20px 0;
    }

    .col-md-4 {
        margin-top: 0 !important;
        padding: 20px;
    }

    h1 {
        font-size: 5rem;
    }

    .margin-top {
        margin-top: 50px !important;
    }
}


@media (max-width: 576px) {
    .col-md-4 {
        padding: 10px;
    }

    h1 {
        font-size: 3rem;
    }

    .margin-top {
        margin-top: 30px !important;
    }
}



/* From Uiverse.io by nikk7007 */
.btn-enimi {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

.btn::after,
.btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
    color: var(--color2);
}

.btn:active {
    filter: brightness(.7);
    transform: scale(.98);
}

/* -----------Footer----------- */
.radian {
    border-radius: 30px 30px;
}

/* 

swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}
 */

.flip-card-front {

    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}


/* -------------------------Bages card css---------------------- */
/* From Uiverse.io by SalladShooter */
.like-wrapper {
    --gap: 0.5em;
    --radius: 0.35em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* --dot-bg: #212121; */
    /* --dot-color: #313131; */
    --dot-size: 1px;
    --dot-space: 22px;
    background: linear-gradient(90deg,
            var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
            transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
            transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
    width: 100%;
    padding: 0.2em;
    border-radius: var(--radius);
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.check[type="checkbox"] {
    display: none;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    fill: white;
    transition: opacity 0.3s ease-in-out;
}

.icon.active {
    display: none;
    fill: #f52121;
}

.check[type="checkbox"]:checked+.container .icon.active {
    display: inline-block;
    animation: wiggle 0.5s ease-in-out;
}

.check[type="checkbox"]:checked+.container .icon.inactive {
    display: none;
}

.like-text {
    margin-left: 0.5em;
    padding: 0.5em;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bolder;
}

@keyframes wiggle {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }
}